<div class="body__header">
  <h1>Projects</h1>
  <button mat-button color="primary">
    <mat-icon>add_circle_outline</mat-icon>
    <span>Add Notes</span>
  </button>
</div>

<div class="body__content">
  <app-thumbnail></app-thumbnail>
  <app-thumbnail></app-thumbnail>
  <app-thumbnail></app-thumbnail>
  <app-thumbnail></app-thumbnail>
  <app-thumbnail></app-thumbnail>
  <app-thumbnail></app-thumbnail>
  <app-thumbnail></app-thumbnail>
  <app-thumbnail></app-thumbnail>
  <app-thumbnail></app-thumbnail>
</div>
