<mat-card>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>

    <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quos? Eum optio, quidem odio dolores velit veniam illo quibusdam, magnam illum quisquam dicta eos vel. Vitae deserunt inventore error consequuntur.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat quod libero doloremque officia dolorum, qui nulla ea non modi veniam. Magni, atque consequatur soluta quas sapiente delectus provident. Est, inventore.
    </mat-card-content>
    
    <mat-card-actions>
        <button>Button</button>
    </mat-card-actions>

    <mat-card-footer>
       19 Dec 1996 
    </mat-card-footer>
</mat-card>
