.app {
    display: flex;
    min-height: 100vh;
}

app-sidebar {
    min-width: 250px;
    padding: 10px 10px;
    box-sizing: border-box;
    background: #8981D8;
    color: white;
}

app-body {
    width: 100%;
    padding: 15px 15px;
}